In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
# 데이터셋을 train, test 로 분류 
from sklearn.linear_model import LogisticRegression
#LogisticRegression 모델 사용 
from sklearn.metrics import accuracy_score
#정확도 평가
import statsmodels.api as sm

from sklearn.preprocessing import MinMaxScaler
#정규화
from sklearn.preprocessing import LabelEncoder

In [2]:
import pandas as pd

In [3]:
num_df = pd.read_csv("C:\\data\\num.csv", encoding = 'UTF-8-sig')
num_df.head()

,사업자번호,결산년월,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,비유동부채,부 채 총 계,...,재고자산회전율(회),매출채권회전율(회),매입채무회전율(회),미수금,매출원가,무형자산,재고자산,결산연도,결산월,폐업_유무
0,1018100340,2021-12-31,1175030.0,273522.0,37135811.0,993025.0,38310842.0,9494272.0,4901383.0,14395654.0,...,1.000000e+12,3.497900e+01,1.000000e+12,3243.0,NaN,NaN,NaN,2021,12,0
1,1018100772,2021-12-31,549804.0,NaN,21237198.0,21231948.0,21787002.0,3733712.0,12704550.0,16438262.0,...,1.000000e+12,1.000000e+12,1.000000e+12,517157.0,337407.0,NaN,NaN,2021,12,0
2,1018101126,2021-12-31,1798623.0,115892.0,35555977.0,34136073.0,37354601.0,9435217.0,3258245.0,12693461.0,...,1.000000e+12,2.682400e+01,1.000000e+12,910.0,1506709.0,1.0,NaN,2021,12,0
3,1018101242,2021-12-31,543038.0,114573.0,24420419.0,21795940.0,24963457.0,6684822.0,1956000.0,8640822.0,...,1.000000e+12,1.439400e+01,1.000000e+12,NaN,1103070.0,NaN,NaN,2021,12,0
4,1018103819,2021-12-31,1608654.0,18608.0,11514039.0,11063056.0,13122693.0,6404524.0,1621901.0,8026426.0,...,1.000000e+12,2.099600e+01,1.000000e+12,NaN,NaN,NaN,NaN,2021,12,0

In [5]:
num_df.drop(['사업자번호', '결산년월', '결산연도', '결산월'], axis = 1,inplace = True)
num_df.head()

,유동자산,매출채권,비유동자산,유형자산,자산총계,유동부채,비유동부채,부 채 총 계,자본금,이익잉여금(결손금）,...,부채총계대 매출액(%),총자본회전율(회),재고자산회전율(회),매출채권회전율(회),매입채무회전율(회),미수금,매출원가,무형자산,재고자산,폐업_유무
0,1175030.0,273522.0,37135811.0,993025.0,38310842.0,9494272.0,4901383.0,14395654.0,721100.0,5169522.0,...,233.749,0.156,1.000000e+12,3.497900e+01,1.000000e+12,3243.0,NaN,NaN,NaN,0
1,549804.0,NaN,21237198.0,21231948.0,21787002.0,3733712.0,12704550.0,16438262.0,52000.0,-8764059.0,...,5085.026,0.015,1.000000e+12,1.000000e+12,1.000000e+12,517157.0,337407.0,NaN,NaN,0
2,1798623.0,115892.0,35555977.0,34136073.0,37354601.0,9435217.0,3258245.0,12693461.0,1539640.0,-3678509.0,...,480.491,0.071,1.000000e+12,2.682400e+01,1.000000e+12,910.0,1506709.0,1.0,NaN,0
3,543038.0,114573.0,24420419.0,21795940.0,24963457.0,6684822.0,1956000.0,8640822.0,450000.0,19838062.0,...,379.116,0.091,1.000000e+12,1.439400e+01,1.000000e+12,NaN,1103070.0,NaN,NaN,0
4,1608654.0,18608.0,11514039.0,11063056.0,13122693.0,6404524.0,1621901.0,8026426.0,500000.0,4596267.0,...,777.954,0.078,1.000000e+12,2.099600e+01,1.000000e+12,NaN,NaN,NaN,NaN,0

In [7]:
num_df.shape

(35709, 45)

In [8]:
num_df.fillna(0, inplace = True)

In [10]:
n_columns = num_df.columns.difference(["폐업_유무"])
x = num_df[n_columns]
y = num_df["폐업_유무"]

In [3]:
n_columns = num_df.columns.difference(["폐업_유무"])
X = num_df[n_columns]
y = num_df["폐업_유무"]

iris_df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
iris_df.rename(columns={'sepal.length': 'sepal_length',
                        'sepal.width': 'sepal_width',
                        'petal.length':'petal_length',
                        'petal.width':'petal_width'}, inplace=True)
iris_df.head()

le = LabelEncoder()
iris_df['variety'] = le.fit_transform(iris_df['variety'])

X = iris_df.drop(['variety'], axis=1)
y = iris_df.variety

model = sm.OLS.from_formula("variety ~ sepal_length + sepal_width + petal_length + petal_width", data=iris_df)
result = model.fit()
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                variety   R-squared:                       0.930
Model:                            OLS   Adj. R-squared:                  0.928
Method:                 Least Squares   F-statistic:                     484.5
Date:                Sun, 06 Nov 2022   Prob (F-statistic):           8.46e-83
Time:                        17:05:32   Log-Likelihood:                 17.437
No. Observations:                 150   AIC:                            -24.87
Df Residuals:                     145   BIC:                            -9.821
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept        0.1865      0.205      0.910      0.364      -0.218       0.591
sepal_length    -0.1119      0.058     -1.941      0.054      -0.226       0.002
sepal_width     -0.0401      0.060     -0.671      0.503      -0.158       0.078
petal_length     0.2286      0.057      4.022      0.000       0.116       0.341
petal_width      0.6093      0.094      6.450      0.000       0.423       0.796
==============================================================================
Omnibus:                        0.374   Durbin-Watson:                   1.077
Prob(Omnibus):                  0.829   Jarque-Bera (JB):                0.141
Skew:                          -0.051   Prob(JB):                        0.932
Kurtosis:                       3.110   Cond. No.                         91.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [4]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width  variety
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0